<a href="https://colab.research.google.com/github/johnnycleiton07/data-science-and-analytics-PoliUPE/blob/main/Respostas_Atividade_Parte01_Reitoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Alunos**:

- Johnny Cleiton
- Joss Timoteo
- Raphael Feitosa

## Introduzindo Operações Básicas com Tipos Numéricos e Booleanos

1 - Compute a saída da seguinte expressão matemática sem realizar nenhuma simplificação:
$ a^{2} + \frac{3}{4} \times b \times 987(c - \frac{10^{-9}}{\sqrt{0.5^{3}}}) $. Assuma que os valores das variáveis a, b e c correpondam a 2, 4 e 8, respectivamente. Armazene o resultado em uma variável.

Dica: consulte os operadores aritméticos disponíveis no Python. Utilize a biblioteca math para operação de raiz.

In [ ]:
# Insira a resposta abaixo.
import math

a = 2
b = 4
c = 8

resultado = a**2 + (3/4) * b * 987 * (c - (10**-9) / math.sqrt(0.5**3))
print (resultado)

23691.999991625027

2 - Armazene em uma variável o resto da divisão da expressão anterior por 23691.

In [ ]:
# Insira a resposta abaixo.
resultado = 23691.999991625027
resto = resultado % 23691
print(resto)

0.9999916250271781

3 - Cheque se a saída do resto da divisão é ***i) igual a 1***, ***ii) maior que 1***, ***iii) menor ou igual que 1*** e ***iv) diferente de 1***. Utilize a função *print* para exibir a saída de cada checagem. Consulte os operadores relacionais disponívels no Python.
> Não precisa usar estrutura de decisão, apenas a expressão com o operador relacional

In [ ]:
# Insira a resposta abaixo.
print( resto == 1)

False

In [ ]:
print(resto > 1)

False

In [ ]:
print(resto >= 1)

False

In [ ]:
print(resto != 1)

True

4 - Escreva a seguinte expressão booleana **(A + B) . (¬B . A)**. Considere que "+" indica uma operação  OR; "." indica uma operação AND e ''¬'' indica uma operação de negação (NOT). Defina previamente a variávei *A* com valor verdadeiro e a variávei *B* com valor falso.

In [ ]:
# Insira a resposta abaixo.
a = True
b = False

booleano = (a or b) and (not(b and a))
print (booleano)

True

## Introduzindo Operações com Strings

Dica: você pode utilizar a função *help(arg)* para visualizar os métodos que podem ser acessados a partir de uma variável de um tipo qualquer.

Segue abaixo alguns exemplos:

```
# Exemplo usando como argumento a função que representa o tipo de dado
help(str)

# Exemplo usando uma variavel qualquer
a = "teste"
help(a)

# Exemplo utilizando uma variavel do tipo dicionário
dicionario = {"chave":"valor"}
help(dicionario)


```
Você também pode usar a documentação do tipo string
https://docs.python.org/pt-br/3/library/stdtypes.html#string-methods

5 - Defina uma variável com o valor "hello wORld". Utilize as funções de string do Python para reproduzir as seguintes saídas: "Hello World", "hello world", "HELLO WORLD".  Dica: para visualizar as funções disponíveis digite em uma célula de código `'str' ` e em seguida tecle tab.

In [ ]:
# Insira a resposta abaixo.
texto = "hello wORld"

# title converte a primeira letra de cada palavra em maiúscula
texto.title()

'Hello World'

In [ ]:
# lower converte todos os caracteres para minúsculas
texto.lower()

'hello world'

In [ ]:
# upper converte todos os caracteres para maiúsculas
texto.upper()

'HELLO WORLD'

6 - Dada a seguinte frase " *Esse é o seu primeiro tweet.* ", remova os espaços em branco das extremidades. Em seguida, substitua a palavra *'primeiro'* por *'segundo'*.



**Observação:** a operação para remoção de espaços não atua em um modo '*in-place*', isto é, não altera diretamente o objeto, apenas retorna uma cópia modificada que pode ser armazenada em uma variável. A seguir, pode-se conferir um exemplo de uma operação que não é in-place e requer que assinalemos uma variável para receber a modificação.

In [ ]:
# EXEMPLO: operação que não atua em modo 'in-place'

a = 'teste'

# primeiro caso
a.replace('ste', 'sta')
print(a)

# segundo caso
a = a.replace('ste', 'sta')
print(a)

teste
testa

In [ ]:
# Insira a resposta abaixo.
frase = " Esse é o seu primeiro tweet "
frase_sem_espaco = frase.strip()
frase_final = frase_sem_espaco.replace("primeiro", "segundo")

print (frase_final)

Esse é o seu segundo tweet

7 - Fazendo uso do resultado da questão anterior, exiba a quantidade de ocorrências da palavra *'segundo'* e em seguida a quantidade de caracteres *'s'*. Dica: existe um método na string que permite a contagem de ocorrências de uma determinada string.

In [ ]:
# Insira a resposta abaixo.
count_segundo = frase_final.count("segundo")
count_s = frase_final.count("s")

print (f"A palavra segundo aparece {count_segundo} vez(es)")
print (f"A letra S aparece {count_s} vez(es) na frase")

A palavra segundo aparece 1 vez(es)
A letra S aparece 4 vez(es) na frase

8 - Concatene duas variáveis do tipo strings com valores arbitrários e exiba o resultado.

**Observação:** A string resultante deve possuir no mínimo quatro caracteres.

In [ ]:
# Insira a resposta abaixo.
fruta = "banana"
cor = "verde"

concatenacao = fruta + " " + cor
print (concatenacao)

banana verde

9 - Utilize a indexação e exiba apenas do segundo ao quarto caractere da variável do tipo string resultante questão imediatamente anterior.

In [ ]:
# Insira a resposta abaixo.

# 0=b 1=a 2=n 3=a 4=n 5=a 6=" " 7=v 8=e 9=r 10=d 11=e
# o último número é o ponto de parada, não de inclusão
print (concatenacao[1:5])

anan

10 - Exiba a string "Mensagem: " seguida pela string armazenada na variável *msg* definida abaixo. Dica: utilize a função format() ou *f-string*.

In [ ]:
msg = "This is your first tweet."
# Insira a resposta abaixo.

#f-string
print (f"Mensagem: {msg}")

#format()
print("Mensagem: {}".format(msg))

Mensagem: This is your first tweet.
Mensagem: This is your first tweet.

11  - Reproduza as próximas três mensagens a partir das variáveis definidas na célula de código.

**Mensagem**: Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

In [ ]:
tipo_var = "string"
qtd = "três"
# Insira a resposta abaixo.
print(f"Definir uma {tipo_var} com {qtd} aspas simples permite construir textos com quebra de linha automática.")

Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

**Mensagem**:  O número pi é aproximadamente 3.14

In [ ]:
pi = 3.14159
# Insira a resposta abaixo.
print(f"O número pi é aproximadamente {pi:.2f}")

O número pi é aproximadamente 3.14

**Mensagem**: O meu nome é [*receber string via input*] e eu tenho [*receber inteiro via input*] anos.

In [ ]:
# Insira a resposta abaixo.
nome = input("Insira seu nome aqui: ")
idade = int(input("Insira sua idade aqui: "))
print(f"O meu nome é {nome} e eu tenho {idade} anos.")

Insira seu nome aqui: José
Insira sua idade aqui: 18
O meu nome é José e eu tenho 18 anos.

## Introduzindo Estruturas de Dados

Nessa sessão serão exploradas as estruturas de dados do tipo lista, tupla e dicionário. Para realizar os exercícios abaixos baseados em listas podem ser utilizados métodos como *sum(arg), extend(), reverse(), append(), insert(index, element), sort()*.

### Listas

12 - Realize as seguintes operações:


1. Crie uma lista vazia.
2. Adicione três elementos do tipo inteiro ao final da lista (*o método para adição de novos elementos em uma lista atua de forma in-place, portanto, basta invocá-lo.*).
3. Adicione um novo elemento na segunda posição da lista (*método in-place).
4. Exiba a soma dos quatro elementos (*python já possui uma função built-in para esssa operação*.)
5. Re-assinale o elemento da terceiro posição com um valor do tipo float.
6. Repita o passo 4.
7. Inverta os elementos da lista atual. (*função para inversão é in-place*)
8. Re-ordene os elementos da lista.
9. Armazene uma nova lista em uma variável qualquer com 2 números inteiros.
10. Concatena a nova lista criada com a lista resultante do passo 7.
11. Exiba o valor máximo e mínimo da resultante do passo anterior.

In [ ]:
# Insira a resposta abaixo.

#1
lista = []

#2
lista.append(1)
lista.append(2)
lista.append(3)

#3
lista.insert(1, 5)

#4
print("Soma dos elementos:", sum(lista))

#5
lista[2] = 25.5

#6
print("Soma atualizada:", sum(lista))

#7
lista.reverse()
print("Lista invertida:", lista)

#8
lista.sort()
print("Lista ordenada:", lista)

#9
nova_lista = [10, 20]

#10
lista_final = lista + nova_lista
print("Lista concatenada:", lista_final)

#11
print("Valor máximo:", max(lista_final))
print("Valor mínimo:", min(lista_final))

Soma dos elementos: 11
Soma atualizada: 34.5
Lista invertida: [3, 25.5, 5, 1]
Lista ordenada: [1, 3, 5, 25.5]
Lista concatenada: [1, 3, 5, 25.5, 10, 20]
Valor máximo: 25.5
Valor mínimo: 1

13 - Converta a string definida abaixo em uma lista de palavras, armazene a lista em uma variável. Dica: cheque as operações disponíveis para strings.

In [ ]:
frase = "Formação de Recursos Humanos Qualificados em Inteligência Artificial"
# Insira a resposta abaixo.
print (frase.split())

['Formação', 'de', 'Recursos', 'Humanos', 'Qualificados', 'em', 'Inteligência', 'Artificial']

14 - Verifique se a palavra "Humanos" está contida na lista de palavras criada anteriormente. Exiba True ou False para indicar a resposta.

In [ ]:
# Insira a resposta abaixo.
for Humanos in lista:
  print (True)
  break
else:
  print (False)

True

15 - Crie automaticamente uma lista contendo 50 elementos de valor 3 e armazene-a em uma variável. Dica: utilize o operador de multiplicação.

In [ ]:
# Insira a resposta abaixo.
lista = [3] * 50
print (lista)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

### Tuplas

16 - Converta a lista resultante da primeira questão sobre Listas para uma tupla e exiba o tipo de dados do objeto criado. Após realizar o casting, utilize a indexação para exibir todos os elementos com exceção do primeiro e último.

In [ ]:
# Insira a resposta abaixo.
tupla = tuple(lista_final)
print (type(tupla))

# slicing para pegar do segundo elemento até o penúltimo
print (tupla[1:-1])

<class 'tuple'>
(3, 5, 25.5, 10)

17 - Exiba os atributos/métodos disponíveis a partir objetos do tipo lista e tuple utilizados na questão anterior. Dica: utilize a função dir.

In [ ]:
# Insira a resposta abaixo.
print(dir(lista))

print(dir(tupla))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

18 - Crie uma tupla contendo 5 números inteiros quaisquer. Em seguida, exiba o valor máximo e o valor mínimo da tupla criada.

In [ ]:
# Insira a resposta abaixo.
nova_tupla = (10, 20, 30, 40, 50)

minimo = min(nova_tupla)
maximo = max(nova_tupla)

print (f"Vamor mínimo da Tupla: {minimo}")
print (f"Valor máximo da Tupla: {maximo}")

Vamor mínimo da Tupla: 10
Valor máximo da Tupla: 50

### Dicionários

19 - A partir do dicionário inicializado abaixo com quatro items, adicione três novos items com chaves "three", "four" e "five" e valores "três", "quatro" e "cinco".

In [ ]:
my_dict = {}
my_dict["one"] = "um"
my_dict["two"] = "dois"
my_dict[(1,2)] = ["um","dois"]
my_dict[1.3] = "um ponto três"

my_dict["three"] = "três"
my_dict["four"] = "quatro"
my_dict["five"] = "cinco"

20 - A partir do dicionário definido anteriormente, remova o item ("one", "um") do dicionário.

In [ ]:
# Insira a resposta abaixo
my_dict.pop("one")

print (my_dict)

{'two': 'dois', (1, 2): ['um', 'dois'], 1.3: 'um ponto três', 'three': 'três', 'four': 'quatro', 'five': 'cinco'}

21 - A partir do dicionário definido anteriormente, realize as seguintes operações ordenadamente.

1.   Exiba a quantidade de items do dicionário.
2.   Gere automaticamente uma lista contendo as  chaves do dicionário.
3.   Gere automaticamente uma lista contendo os valores do dicionário.
4.   Gere automaticamente uma lista composta por tuplas do tipo (chave, valor).
5.   Remova os items cuja chaves são (1,2) e 1.3.
6.   Exiba o dicionário final

In [ ]:
# Insira a resposta abaixo

# Passo 1
print (f"O dicionário possui {len(my_dict)} itens")

# Passo 2
my_dict_keys = list(my_dict.keys())
print (f"Lista de chaves: {my_dict_keys}")

# Passo 3
my_dict_values = list(my_dict.values())
print (f"Lista de valores: {my_dict_values}")

# Passo 4
my_dict_items = list(my_dict.items())
print (f"lista de tuplas: {my_dict_items}")

# Passo 5
my_dict.pop((1,2))
my_dict.pop(1.3)

# Passo 6
print("Dicionário final:", my_dict)

O dicionário possui 6 itens
Lista de chaves: ['two', (1, 2), 1.3, 'three', 'four', 'five']
Lista de valores: ['dois', ['um', 'dois'], 'um ponto três', 'três', 'quatro', 'cinco']
lista de tuplas: [('two', 'dois'), ((1, 2), ['um', 'dois']), (1.3, 'um ponto três'), ('three', 'três'), ('four', 'quatro'), ('five', 'cinco')]
Dicionário final: {'two': 'dois', 'three': 'três', 'four': 'quatro', 'five': 'cinco'}

22 - A partir dos dicionários '*en*' e '*pt_br*' definidos abaixo, crie um terceiro dicionário denominado '*translator*' cujas chaves são, respectivamente, 'en' e 'pt_br' e os valores sejam os dicionários correspondentes. Exiba o dicionário criado.

In [ ]:
pt_br = {1:"um", 2:"dois", 3:"tres"}
en = {1:"one", 2:"two", 3:"three"}

# Insira a resposta abaixo
translator = {'en': en, 'pt_br': pt_br}
print (translator)

{'en': {1: 'one', 2: 'two', 3: 'three'}, 'pt_br': {1: 'um', 2: 'dois', 3: 'tres'}}

resultado esperado
```
{ "pt_br" : {1:"um", 2:"dois", 3:"tres"}, "en" : {1:"one", 2:"two", 3:"three"}}
```

### Estruturas de Decisão

23 - Utilize estruturas de decisão se-senão para construir um script que simule a árvore de decisão disposta na figura abaixo. Para cada nó da árvore, o usuário deve fornecer um valor a ser armazenado em uma variável e utilizado para verificar o fluxo que deve ser seguido até atingir uma das folha, exibindo algum dos valores "Opção 1", "Opção 2" ou "Opção 3".


![alt text](https://docs.google.com/uc?export=download&id=1i5518GVTI9vh3proj3C1dblBXOJtHAvP)

In [ ]:
# Insira a resposta abaixo.
#NÓ 1
x1 = float(input("x1: "))

if (x1 > 3.77):
  print ("Opção 1")
else:
  #NÓ 2
  x2 = float(input("x2: "))
  if (x2 > 0.5):
    #NÓ 3
    x3 = float(input("x3: "))
    if (x3 >= 0.78):
      print ("Opção 2")
    else:
      print ("Opção 1")
  else:
    #NÓ 4
    x4 = float(input("x4: "))
    if (x4 > 0.25) and (x4 < 0.5):
      print ("Opção 1")
    elif (x4 == 0.5):
      print ("Opção 3")
    elif (x4 > 0.5) or (x4 <= 0.25):
      print ("Opção 2")

x1: 1
x2: 1
x3: 5
Opção 2

### Estruturas de Repetição

for (with range), while, list comprehension

24 - Crie um programa que receba do usuário uma entrada referente a string "Please, type 'q' to quit". Enquanto o usuário não digitar o caractere 'q', o programa deve exibir "Sorry, try again." e continuar solicitando a informação. Dica: utilize o comando break para interrupção.

In [ ]:
# Insira a resposta abaixo.
entrada = "a"

while entrada != "q":
  entrada = input("Please, type 'q' to quit: ")
  if (entrada == "q"):
    break
  else:
    print ("Sorry, try again")

Please, type 'q' to quit: 6
Sorry, try again
Please, type 'q' to quit: a
Sorry, try again
Please, type 'q' to quit: q

25 - Crie um programa que imprima apenas os números ímpares entre 1 e 100.

In [ ]:
# Insira a resposta abaixo.
for i in range(101):
  if (i % 2) != 0:
    print (i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

26 - A partir da lista definida abaixo, crie uma nova lista contendo apenas os números negativos. Dica: considere utilizar o modo list comprehension.

In [ ]:
lista = [-6, 21, -22, 4, -17, -21, 22, -11, 3, 28]
# Insira a resposta abaixo.
lista_neg = [n for n in lista if n < 0]

lista_neg

[-6, -22, -17, -21, -11]

## Funções

27 - Crie uma função que calcule o fatorial de um número passado como argumento. Caso o número seja negativo, retorne um valor nulo. Caso positivo, retorne o resultado do fatorial. Dica: utilize recursividade e lembre-se de considerar que o fatorial de 0 é 1.

In [ ]:
# Insira a resposta abaixo
numero = int(input("Digite o número: "))

def fatorial(n):
    if n < 0:
      # caso o número seja negativo, retorne um valor nulo
        return None
    elif n == 0:
      # lembre-se de considerar que o fatorial de 0 é 1
      return 1
    else:
      # caso positivo, retorne o resultado do fatorial
      return n * fatorial(n - 1)

print(fatorial(numero))

Digite o número: 1
1

28 - Define uma função que receba um número arbitrário de argumentos e retorne a sua soma. Exiba o resultado de uma chamada dessa função passando como argumentos números inteiros.

In [ ]:
# Insira a resposta abaixo.

def soma(*numeros):
    return sum(numeros)

valores = input("Insira os valores para somar (separados por espaço): ")
numeros_str = valores.split()
numeros_int = [int(num) for num in numeros_str]
resultado = soma(*numeros_int)

print("A soma é:", resultado)

Insira os valores para somar (separados por espaço): 1 8 0 4 7
A soma é: 20

### Funções Especiais

Nessa sessão serão explorados exercícios baseados em funções especiais do Python, tais como range, lambda, map, filter, enumerate e zip.

29 - Utilize a função *range* para criar uma lista de números inteiros que vai de 100 a -100, seguindo uma ordem decrescente e com intervalos de duas unidades. Exiba a lista gerada.

In [ ]:
# Insira a resposta abaixo.
for i in range(-100, 101, 2):
  print (i)

-100
-98
-96
-94
-92
-90
-88
-86
-84
-82
-80
-78
-76
-74
-72
-70
-68
-66
-64
-62
-60
-58
-56
-54
-52
-50
-48
-46
-44
-42
-40
-38
-36
-34
-32
-30
-28
-26
-24
-22
-20
-18
-16
-14
-12
-10
-8
-6
-4
-2
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

30 - Uma pesquisa de satisfação dos empregados de uma determinada empresa reuniu dados referente a um questionário no qual foi computado o nível de satisfação do empregado em relação ao salário recebido. Os valores salariais estão armazenados na variávei 'salarios' e pontuação do questionário está armazenada na variável 'satisfacao_empregado'. Realize os seguintes procedimentos.

1. A partir da lista satisfacao_empregados, gere uma nova lista com valores normalizados entre 0 e 1.  Fórmula para normalização: $ \frac{x_i - x_{min}}{x_{max} - x_{min}} $
2. Crie a seguinte função: $ f(x) = 0.0004x -0.4 $. A função recebe como entrada um unico número inteiro. Use lambda para definir essa função.
3. Utilize a função criada no passo anterior para criar uma nova lista a partir da lista '*salarios*'. Armazene-a em uma variável denominada '*satisfacao_estimada*'.
4. Crie uma função que receba como entrada duas listas e compute $ \frac{1}{n}\sum_{i=0}^{n}(a_i - b_i)^2 $. Assuma que $n$ seja o número de elementos de qualquer uma das listas e $a$ e $b$ correspondam a valores das listas em uma mesma posição $i$.

Dica: considere utilizar a função map e a função anônima lambda para os procedimentos simples como, por exemplo, dos passos 1 ao 3.

In [ ]:
# Insira a resposta abaixo.
salarios = [1000, 1500, 2000, 2500, 3000, 3500]
satisfacao_empregados = [40, 50, 60, 70, 80, 90]

# Insira abaixo a funcao para normalizar a lista satisfacao_empregados
normalizar = lambda lista: list(map(lambda x: (x - min(lista)) / (max(lista) - min(lista)), lista))
satisfacao_empregados_normalizado = normalizar(satisfacao_empregados)

# Insira abaixo a funcao para calcular a satisfacao
f = lambda x: 0.0004 * x - 0.4

# passo 3
satisfacao_estimada = list(map(f, salarios))

# Insira a funcao para calcular o erro quadratico minimo
erro_medio = lambda a, b: (1 / len(a)) * sum(map(lambda x, y: (x - y) ** 2, a, b))


print(erro_medio(satisfacao_empregados_normalizado, satisfacao_estimada))

2.5679065925163142e-33

31 - A partir da lista definida abaixo, filtre-a de forma que somente as palavras com menos de 3 caracteres sejam mantidas. Dica: utilize a função filter.

In [ ]:
lista = ['tempor', 'erat,', 'in,', 'elit', 'Etiam', 'tincidunt.', 'rutrum', 'ut,', 'lacinia', 'Integer', 'Nam', 'turpis', 'Nulla', 'non.', 'vehicula', 'diam', 'porttitor', 'blandit', 'Sed', 'pharetra', 'erat', 'hendrerit', 'tristique', 'vulputate', 'faucibus.', 'augue.', 'potenti.', 'vel', 'eros', 'imperdiet,', 'a.', 'dolor.', 'pretium', 'Fusce', 'sit', 'ornare', 'Morbi', 'quis', 'fringilla', 'lobortis', 'tempus', 'mauris', 'ante,', 'lacus', 'porta.', 'faucibus,', 'quis.', 'vestibulum', 'primis', 'luctus,', 'ullamcorper.', 'augue', 'nec', 'mollis', 'lectus', 'dolor', 'sodales', 'ligula,', 'dignissim', 'sem', 'varius', 'mi', 'eu', 'elit.', 'semper', 'id,', 'tempus.', 'finibus.', 'neque', 'quam.', 'scelerisque', 'lorem', 'diam,', 'Cras', 'nisi', 'Lorem', 'leo,', 'Ut', 'ut', 'feugiat.', 'ante', 'venenatis', 'fermentum', 'congue', 'urna', 'Praesent', 'Donec', 'Vestibulum', 'purus.', 'Nullam', 'tincidunt', 'efficitur', 'velit', 'commodo.', 'iaculis', 'sed,', 'volutpat', 'amet', 'mauris.', 'odio', 'a', 'Interdum', 'neque.', 'risus', 'vitae', 'consectetur', 'adipiscing', 'at', 'Aliquam', 'molestie', 'euismod', 'odio.', 'sed', 'in', 'suscipit', 'augue,', 'sapien', 'posuere', 'euismod,', 'ipsum', 'et.', 'maximus.', 'risus,', 'Suspendisse', 'et', 'facilisis', 'elementum', 'efficitur,', 'ac', 'nulla.', 'quam', 'arcu', 'fames', 'Nunc', 'pharetra,', 'laoreet', 'ligula', 'fermentum,', 'auctor', 'tortor,', 'Curabitur', 'eget', 'finibus', 'ultrices', 'malesuada', 'purus', 'congue,', 'amet,', 'fermentum.', 'dui']

# Insira a resposta abaixo.
list(filter(lambda palavra: len(palavra) < 3, lista))

['a.', 'mi', 'eu', 'Ut', 'ut', 'a', 'at', 'in', 'et', 'ac']

32 - A partir da lista definida abaixo, gere automaticamente e exiba um dicionário enumerado do tipo:

```
dicionario = {0: 'Preprocessing', 1: 'Feature Extraction', 2: 'Feature Selection' ...}

```

Em seguida, gere a seguinte saída:

Step 1 - Preprocessing

Step 2 - Feature Extraction

Step 3 - Feature Selection

Step 4 - Classification

Step 5 - Post Processing

In [ ]:
lst = ["Preprocessing", "Feature Extraction", "Feature Selection", "Classification", "Post Processing"]

# Insira a resposta abaixo.
dict = {0: lst[0], 1: lst[1], 2: lst[2], 3: lst[3], 4: lst[4]}

print (dict)

print (f"Step 1 - {dict[0]}")
print (f"Step 2 - {dict[1]}")
print (f"Step 3 - {dict[2]}")
print (f"Step 4 - {dict[3]}")
print (f"Step 5 - {dict[4]}")

{0: 'Preprocessing', 1: 'Feature Extraction', 2: 'Feature Selection', 3: 'Classification', 4: 'Post Processing'}
Step 1 - Preprocessing
Step 2 - Feature Extraction
Step 3 - Feature Selection
Step 4 - Classification
Step 5 - Post Processing

33 - Realize os seguintes procedimentos:
1. Crie uma lista de números inteiros de 1 a 4 com incremento de 1 em 1.
2. Crie uma lista contendo quatro strings.
3. Utilize uma única estrutura de repetição do tipo *for* para iterar paralelamente sobre os quatro elementos de cada uma das duas listas. Exiba os elementos.

In [ ]:
# Insira o código abaixo.
numeros = list(range(1, 5, 1))

palavras = ["um", "dois", "três", "quatro"]

# zip une duas ou mais listas em pares correspondentes
for numero, palavra in zip(numeros, palavras):
    print (numero, palavra)

1 um
2 dois
3 três
4 quatro